@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-thin::-webkit-scrollbar {
    width: 2px;
  }
  .scrollbar-thumb-gray-400 {
    background: #9ca3af;
  }
  .scrollbar-track-gray-200 {
    background: #e5e7eb;
  }
  

  /* Global background image */
body {
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url('src/assets/images/brooke-lark-GTMGG-xvxdU-unsplash.jpg'); /* Correct the path */
    min-height: 100vh;
  }
  