@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-thin::-webkit-scrollbar {
    width: 2px;
  }
  .scrollbar-thumb-gray-400 {
    background: #9ca3af;
  }
  .scrollbar-track-gray-200 {
    background: #e5e7eb;
  }
  


  body {
    @apply bg-cover bg-center bg-no-repeat;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/images/jason-dent-eB1ziPSixlQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; 
    z-index: -1; 
}
